body{
    font-family: 'Montserrat', sans-serif;
}

header{ 
    background: -webkit-linear-gradient(45deg, white, #ffe5e5);
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;

}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

footer{
    display: flex;
    flex-direction: column;
    text-align:center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

footer nav{
    position: inherit;
}

footer nav li{
    margin: 0 0 0 15px;
}

footer nav a{
    text-transform: none;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: white;

}

footer nav a:hover{
    color: #585757;
    text-decoration: underline;
}

footer img{
    width: 162px;
    height: 48px;
    justify-content: center;
    align-items: center;
}

.caja-final{
    display: grid;
    grid-template-columns: 25% 25% 25%  25%;
}

.cajas-pagina ul{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.cajas-pagina li{
    display: flex;
    padding: 10px;
}

.cajas-pagina p{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    color: white;
}

form{
    padding: 40px;
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;

}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background: #ffe5e5;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: #e48b8b;
    transform: scale(1.2);

}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}