body{
    background: white;
    font-family: 'Montserrat', sans-serif;
}

header{
    background: white;
    padding: 0 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.caja{
    background: -webkit-linear-gradient(45deg, white, #ffe5e5);
    width: 1000px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

#logo img{
    position: relative;
}

nav{
    position: relative;
    top: 100px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-size: 15px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.inicio{
    background: #FEFEFE;
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}

.inicio p{
    padding-bottom: 15px;
}

.inicio strong{
    font-weight: bold;
}

.inicio em{
    font-style: italic;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
}

.diferencia{
    display: flex;
    justify-content: center;
    background: linear-gradient(#FEFEFE,#ff6801);
    padding: 3em 0;
}

.diferencia img{
    width: 750px;
    transition: 0.5s;
}

.diferencia img:hover{
    width: 900px;
}

.atributos{
    padding: 3em 0;
    background: #ff6801;
}

.preferencias{
    width: 700px;
    margin: 0 auto;
}

#items{
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.item{
    padding: 3px;
    line-height: 1.5;
}

.item::before{
    padding-right: 7px;
    content: "\1F374";
}

.imagen-items{
    width: 39%;
}

footer{
    display: flex;
    flex-direction: column;
    text-align:center;
    background: url(imagenes/bg.jpg);
    padding: 70px;
}

footer nav{
    position: inherit;
}

footer nav li{
    margin: 0 0 0 15px;
}

footer nav a{
    text-transform: none;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: white;

}

footer nav a:hover{
    color: #585757;
    text-decoration: underline;
}

footer img{
    width: 162px;
    height: 48px;
    justify-content: center;
    align-items: center;
}

.caja-final{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.cajas-pagina ul{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.cajas-pagina li{
    display: flex;
    padding: 10px;
}

.cajas-pagina p{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    color: white;
}